:root {
  --spacing: 10px;
  --blur: 0px;
  --base: #ff8718;
  --bgcolor: #6d4f4f;
}

body {
  background-color: var(--bgcolor);
  font-family: sans-serif;
  font-size: 50px;
  text-align: center;
  font-weight: 100;
  /* background-color: rgb(40, 26, 172); */
  color: white;
}

.controls {
  margin-bottom: 50px;
}

.hl {
  color: var(--base);
}

.picture {
  max-width: 600px;
  height: auto;
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
}


